<div class="container" [ngClass]="viewMode?'light':'dark'">
  <header>
    <div class="title">
      Comicomic
    </div>
  </header>

  <section class="page">

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="../assets/ad-1.png" alt="">
      </a>
    </div>

    <div class="chapter-status">
      <div class="comic-title">My Hexschool
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="customer-select chapter-select" (click)="chapterSelect = !chapterSelect; pageSelect = false;">
        chapter 1
        <ul class="select-option" *ngIf="chapterSelect">
          <li class="is-active">chapter 1</li>
          <li>chapter 2</li>
        </ul>
      </div>
      <div class="customer-select page-select" (click)="pageSelect = !pageSelect; chapterSelect = false;">
        Page 1
        <ul class="select-option" *ngIf="pageSelect">
          <li class="is-active">Page 1</li>
          <li>Page 2</li>
          <li>Page 3</li>
          <li>Page 4</li>
          <li>Page 5</li>
          <li>Page 6</li>
          <li>Page 7</li>
          <li>Page 8</li>
          <li>Page 9</li>
          <li>Page 10</li>
          <li>Page 11</li>
        </ul>
      </div>

      <div class="view-mode">
        <i class="fas fa-sun"></i>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="viewMode">
          <span class="slider"></span>
        </label>
        <i class="far fa-moon"></i>
      </div>

    </div>

    <div class="comic-body">
      <div class="comic-back">
        <i class="fas fa-chevron-left fa-3x"></i>
      </div>
      <div class="comic-pic">
        <img src="../assets/storyboard-1.png" width="100%" alt="" srcset="">
      </div>
      <div class="comic-next">
        <i class="fas fa-chevron-right fa-3x"></i>
      </div>
    </div>

    <div class="comic-qucik-view">

    </div>


  </section>


  <section class="content">

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="../assets/ad-1.png" alt="">
      </a>
    </div>


    <div class="comic-box">
      <div class="comic-img">
        <img src="../assets/comiccover.png" alt="" srcset="">
      </div>
      <div class="comic-content">
        <div class="comic-title">MY HEXSCHOOL</div>
        <div class="comic-info">
          <div class="info-list">
            <div class="info-list-title">Genres</div>
            <div class="info-list-text">Fusce/vehicula/dolor</div>
          </div>
          <div class="info-list">
            <div class="info-list-title">Author</div>
            <div class="info-list-text">Namae Shiranai</div>
          </div>
          <div class="info-list">
            <div class="info-list-title">Status</div>
            <div class="info-list-text">Ongoing</div>
          </div>
          <div class="info-list">
            <div class="info-list-title">Rate</div>
            <div class="info-list-text">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
          <div class="info-content">
            <div class="info-content-title">Summary</div>
            <div class="info-content-text">
              <p>If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.</p>
              <p>Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this
                Siamese connexion with a plurality of other mortals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="../assets/ad-2.png" alt="">
      </a>
    </div>

    <div class="chapter">
      <div class="chapter-title">All Chapters</div>
      <ul class="chapter-content">
        <li class="chapter-list">
          <a href="">Chapter 1: The F2E Challenge Start!</a>
        </li>
        <li class="chapter-list">
          <a href="">Chapter 2: Todo List is Going Crazy!
            <span class="chapter-tag">NEW</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="../assets/ad-3.png" alt="">
      </a>
    </div>
  </section>



  <router-outlet></router-outlet>
</div>