<div class="container" [ngClass]="viewMode?'light':'dark'">
  <header>
    <div class="title">
      Comicomic
    </div>
  </header>

  <section class="page">

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="assets/ad-1.png" alt="">
      </a>
    </div>

    <div class="chapter-status">
      <div class="comic-title">My Hexschool
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="customer-select chapter-select" (click)="chapterSelect = !chapterSelect; pageSelect = false;">
        chapter {{nowRead.chapter}}
        <ul class="select-option" *ngIf="chapterSelect">
          <li [ngClass]="item.chapter == nowRead.chapter?'is-active':''" *ngFor="let item of comicData.book" (click)="changeChapter(item.chapter,'')">chapter {{item.chapter}}</li>
        </ul>
      </div>
      <div class="customer-select page-select" (click)="pageSelect = !pageSelect; chapterSelect = false;">
        Page {{nowRead.page}}
        <ul class="select-option" *ngIf="pageSelect">
          <li [ngClass]="(i + 1) == nowRead.page?'is-active':''" *ngFor="let item of readPage; let i = index" (click)="changePage(i + 1)">Page {{i + 1}}</li>
        </ul>
      </div>

      <div class="view-mode">
        <i class="fas fa-sun"></i>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="viewMode">
          <span class="slider"></span>
        </label>
        <i class="far fa-moon"></i>
      </div>

    </div>

    <div class="comic-body">
      <div class="comic-back" [ngClass]="nowRead.page == 1 && comicData.book.length > nowRead.chapter?'is-last':''" (click)="changePage('-1')">
        <i class="fas fa-chevron-left fa-3x"></i>
      </div>
      <div class="comic-pic">
        <img [src]="readPage[nowRead.page - 1]" width="100%" alt="" srcset="">
      </div>
      <div class="comic-next" [ngClass]="nowRead.page == readPage.length && comicData.book.length == nowRead.chapter?'is-last':''" (click)="changePage('+1')">
        <i class="fas fa-chevron-right fa-3x"></i>
      </div>
    </div>

    <div class="comic-qucik-view">

    </div>


  </section>


  <section class="content">

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="assets/ad-1.png" alt="">
      </a>
    </div>


    <div class="comic-box">
      <div class="comic-img">
        <img [src]="comicData.img" alt="" srcset="">
      </div>
      <div class="comic-content">
        <div class="comic-title">{{comicData.name}}</div>
        <div class="comic-info">
          <div class="info-list">
            <div class="info-list-title">Genres</div>
            <div class="info-list-text">{{comicData.generes}}</div>
          </div>
          <div class="info-list">
            <div class="info-list-title">Author</div>
            <div class="info-list-text">{{comicData.author}}</div>
          </div>
          <div class="info-list">
            <div class="info-list-title">Status</div>
            <div class="info-list-text">{{comicData.status}}</div>
          </div>
          <div class="info-list">
            <div class="info-list-title">Rate</div>
            <div class="info-list-text">
              <i class="fa-star" [ngClass]="comicData.rate >= 1?'fas':'far'"></i>
              <i class="fa-star" [ngClass]="comicData.rate >= 2?'fas':'far'"></i>
              <i class="fa-star" [ngClass]="comicData.rate >= 3?'fas':'far'"></i>
              <i class="fa-star" [ngClass]="comicData.rate >= 4?'fas':'far'"></i>
              <i class="fa-star" [ngClass]="comicData.rate >= 5?'fas':'far'"></i>
            </div>
          </div>
          <div class="info-content">
            <div class="info-content-title">Summary</div>
            <div class="info-content-text" [innerHtml]="comicData.summary">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="assets/ad-2.png" alt="">
      </a>
    </div>

    <div class="chapter">
      <div class="chapter-title">All Chapters</div>
      <ul class="chapter-content">
        <li class="chapter-list" *ngFor="let item of comicData.book">
          <a href="">{{item.title}}<span class="chapter-tag" *ngIf="item.status == 'latest'">NEW</span></a>
        </li>
      </ul>
    </div>

    <div class="ad-block">
      <a href="http://www.hexschool.com/">
        <img src="assets/ad-3.png" alt="">
      </a>
    </div>
  </section>



  <router-outlet></router-outlet>
</div>